version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: neomanhwa_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: neomanhwa_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: neomanhwa_backend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/neomanhwa_db?schema=public
      PORT: 3000
      JWT_SECRET: your_jwt_secret_key
    
    env_file:
      - .env

    volumes:
      - ./uploads:/app/uploads

volumes:
  postgres_data:
